$white: #ffffff;
$black: #000000;
$gray: #333333;
$light-gray: #666666;
$green: #178a27;
$blue: #1686c1;
$red: #852406;

$header-background: #383e4c;
$button-border: #646d7c;
$button-hover: #49505f;
$about-background: #f2f2f2;

$standard-border: 1px solid black;
$header-button-border: 1px solid $button-border;
$height-offset: 5rem;
