$header-background: #383e4c;
$button-border: #646d7c;
$button-hover: #49505f;
$white: #ffffff;
$black: #000000;

$standard-border: 1px solid black;
$header-button-border: 1px solid $button-border;
$height-offset: 5rem;
