// Colors

$white: #ffffff;
$black: #000000;
$gray: #333333;
$light-gray: #666666;
$lightest-gray: #cccccc;
$green: #178a27;
$green-hover:#449d44;
$blue: #1686c1;
$blue-hover: #31b0d5;
$blue-link: #337ab7;
$red: #852406;
$red-hover: #c9302c;

$header-background: #383e4c;
$button-border: #646d7c;
$button-hover: #49505f;
$about-background: #f2f2f2;

// Borders

$standard-border: 1px solid black;
$header-button-border: 1px solid $button-border;

// Height offset

$height-offset: 5rem;

// Breakpoints

$breakpoint1: 800px;
