// Import the helper files
@import "helper/mixins";
@import "helper/placeholders";
@import "helper/variables";

// Syles applied to whole document

html {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

// Links for nav

#section1 {
  position: relative;
  top: -$height-offset;
}

// Styles applied to navigation-section

#navigation-section {
  @include flex-box(center, center, row, flex);
  position: fixed;
  width: 100%;
  height: $height-offset;
  background-color: $header-background;

  nav {
    @include flex-box(center, center, row, flex);
    width: 100%;
    ul {
      @include flex-box(center, center, row, flex);
      width: 100%;

      a {
        padding: 1rem 1.5rem;
        margin: 0 0.75rem;
        border: $header-button-border;
        text-decoration: none;
        color: $white;
        font-size: 1.25rem;
        transition: background-color 100ms linear;

        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }
}

// Styles applied to banner-section
#banner-section {
  @include flex-box(center, center, column, flex);
  background-image: url(../images/bg-1.jpg);
  background-size: cover;

  .tekst {
    @include flex-box(center, center, column, flex);
    padding: 15rem 0;

    h1 {
      color: $white;
      font-size: 4.5rem;
      text-shadow: 2px 2px $black;
      margin: 1rem 0 0.5rem 0;
    }

    h4 {
      color: $white;
      font-size: 1.6rem;
      text-shadow: 1px 1px #333333;
      margin: 0.5rem 0 1rem 0;
    }
  }
}

// Styles applied to about-section
#about-section {
  @include flex-box(flex-start, center, column, flex);
  width: 100%;
  margin: 4rem 0 0 0;

  .row {
    @include flex-box(flex-start, stretch, row, flex);
    width: 90%;
    margin: 0 0 4rem 0;

    .container {
      @include flex-box(flex-start, stretch, column, flex);
      margin: 1rem;
      background-color: $about-background;

      .container-1of3 {
        width: 33.33%;
      }

      .container-1of2 {
        width: 50%;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .green {
        h1 {
          color: $green;
        }
        a {
          color: $white;
          background-color: $green;
          transition: background-color 300ms ease;
          &:hover {
            background-color: $green-hover;
          }
        }
      }

      .blue {
        h1 {
          color: $blue;
        }
        a {
          color: $white;
          background-color: $blue;
          transition: background-color 300ms ease;
          &:hover {
            background-color: $blue-hover;
          }
        }
      }

      .red {
        h1 {
          color: $red;
        }
        a {
          color: $white;
          background-color: $red;
          transition: background-color 300ms ease;
          &:hover {
            background-color: $red-hover;
          }
        }
      }

      .light-gray {
        h1 {
          color: $light-gray;
          align-self: center;
        }
        a {
          color: $light-gray;
          background-color: $white;
          border: 1px solid $lightest-gray;
          transition: background-color 300ms ease;
          &:hover {
            background-color: #e6e6e6;
          }
        }
      }

      .tekst {
        @include flex-box(flex-start, stretch, column, flex);
        margin: 1rem;

        h1 {
          font-size: 1.25rem;
          font-weight: 700;
        }

        p {
          margin: 1rem 0;
          line-height: 1.6;
          font-size: 0.9rem;
          color: $gray;
        }

        a {
          align-self: center;
          text-decoration: none;
          padding: 1rem 2rem;
          border-radius: 5px;
        }
      }
    }
  }
}
