// sass --watch public/resources/scss/main.scss:public/resources/css/main.css

// Import the helper files
@import "helper/mixins";
@import "helper/placeholders";
@import "helper/variables";

// Syles applied to whole document

html {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

// Links for nav

#section1, #section2, #section3, #section4 {
  position: relative;
  top: -$height-offset;
}

// Styles applied to navigation-section

#navigation-section {
  @include flex-box(center, center, row, flex);
  position: fixed;
  width: 100%;
  height: $height-offset;
  background-color: $header-background;

  nav {
    @include flex-box(center, center, row, flex);
    width: 100%;
    ul {
      @include flex-box(center, center, row, flex);
      width: 100%;

      a {
        padding: 1rem 1.5rem;
        margin: 0 0.75rem;
        border: $header-button-border;
        text-decoration: none;
        color: $white;
        font-size: 1.25rem;
        transition: background-color 100ms linear;

        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }
}

// Styles applied to banner-section
#banner-section {
  @include flex-box(center, center, column, flex);
  background-image: url(../images/bg-1.jpg);
  height: 38rem;
  background-attachment: fixed;
  background-position: 0 -200px;
  background-repeat: no-repeat;
  background-size: cover;


  .tekst {
    @include flex-box(center, center, column, flex);

    h1 {
      color: $white;
      font-size: 4.5rem;
      text-shadow: 2px 2px $black;
      margin: 1rem 0 0.5rem 0;
    }

    h4 {
      color: $white;
      font-size: 1.6rem;
      text-shadow: 1px 1px #333333;
      margin: 0.5rem 0 1rem 0;
    }
  }
}

// Styles applied to about-section
#about-section {
  @include flex-box(flex-start, center, column, flex);
  width: 100%;
  margin: 4rem 0 0 0;

  .row {
    @include flex-box(flex-start, stretch, row, flex);
    width: 90%;
    margin: 0 0 4rem 0;

    .container-1of3 {
      width: 33.33%;
    }

    .container-1of2 {
      width: 50%;
    }

    .container {
      @include flex-box(flex-start, stretch, column, flex);
      margin: 1rem;
      background-color: $about-background;

      img {
        max-width: 100%;
        height: auto;
      }

      .green {
        h1 {
          color: $green;
        }
        a {
          color: $white;
          background-color: $green;
          transition: background-color 300ms ease;
          &:hover {
            background-color: $green-hover;
          }
        }
      }

      .blue {
        .link {
          color: $blue-link;
          padding: 0;
          background-color: rgba(0, 0, 0, 0);
          transition: none;
          &:hover {
            background-color: rgba(0, 0, 0, 0);
          }
        }
        h1 {
          color: $blue;
        }
        a {
          color: $white;
          background-color: $blue;
          transition: background-color 300ms ease;
          &:hover {
            background-color: $blue-hover;
          }
        }
      }

      .red {
        h1 {
          color: $red;
        }
        a {
          color: $white;
          background-color: $red;
          transition: background-color 300ms ease;
          &:hover {
            background-color: $red-hover;
          }
        }
      }

      .light-gray {
        h1 {
          color: $light-gray;
          align-self: center;
        }
        a {
          color: $light-gray;
          background-color: $white;
          border: 1px solid $lightest-gray;
          transition: background-color 300ms ease;
          &:hover {
            background-color: #e6e6e6;
          }
        }
      }

      .tekst {
        @include flex-box(flex-start, stretch, column, flex);
        margin: 1rem;

        h1 {
          font-size: 1.25rem;
          font-weight: 700;
        }

        p {
          margin: 1rem 0;
          line-height: 1.6;
          font-size: 0.9rem;
          color: $gray;
        }

        a {
          align-self: center;
          text-decoration: none;
          padding: 1rem 2rem;
          border-radius: 5px;
        }
      }
    }
  }
}

// Styles applied to services section

#services-section {
  @include flex-box(flex-start, center, column, flex);
  width: 100%;

  .banner {
    @include flex-box(center, center, column, flex);
    width: 100%;
    height: 20rem;
    background-image: url(../images/bg-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4rem;

    .tekst {
      @include flex-box(center, center, column, flex);
      width: 60%;
      h1 {
        color: $white;
        text-shadow: 2px 2px #aaaaaa;
        font-size: 2.25rem;
      }

      p {
        text-align: center;
        color: $white;
        font-size: 1.125rem;
      }
    }
  }

  .row {
    @include flex-box(flex-start, stretch, row, flex);
    width: 90%;
    margin-bottom: 3rem;

    .container-1of4 {
      width: 25%;

      h1 {
        align-self: center;
      }
      a {
        align-self: center;
      }
    }

    .container-1of1 {
      width: 100%;
    }

    .container {
      @include flex-box(flex-start, stretch, column, flex);
      margin: 1rem;
      background-color: $about-background;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .light-gray {
    h1 {
      color: $light-gray;
    }
    a {
      color: $light-gray;
      background-color: $white;
      border: 1px solid $lightest-gray;
      transition: background-color 300ms ease;
      &:hover {
        background-color: #e6e6e6;
      }
    }
  }

  .tekst {
    @include flex-box(flex-start, flex-start, column, flex);
    margin: 1rem;

    h1 {
      font-size: 1.25rem;
      font-weight: 700;
    }

    p {
      margin: 1rem 0;
      line-height: 1.6;
      font-size: 0.9rem;
      color: $gray;
    }

    a {
      text-decoration: none;
      padding: 1rem 2rem;
      border-radius: 5px;
    }
  }
}

// Styles applied to contact section1

#contact-section {
  @include flex-box(center, center, column, flex);
  width: 100%;
  height: 30rem;
  margin-bottom: 5rem;
  background-image: url(../images/bg-3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .row {
    @include flex-box(center, stretch, row, flex);
    width: 770px;

    h1 {
      color: $white;
      font-size: 2.25rem;
      text-shadow: 2px 2px #333333;
      margin-bottom: 2rem;
    }

    p {
      line-height: 1.6;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      padding: 2rem;
      margin-bottom: 0.4rem;
    }

    form {
      @include flex-box(flex-start, stretch, row, flex);
      width: 100%;

      .column {
        @include flex-box(flex-start, stretch, column, flex);
        width: 50%;

        ::placeholder {
          color: $black;
          opacity: 1;
        }

        .form-input {
          padding: 0.5rem;
          margin: 0.4rem 0.4rem 0.4rem 0;
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 5px;
          outline: none;
          border: none;
        }

        .form-message {
          padding: 0.5rem 0 1.8rem 0.5rem;
          margin: 0.4rem 0 0.4rem 0.4rem;
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 5px;
          outline: none;
          border: none;
          font-family: 'Open Sans';
          font-size: 0.9rem;
        }

        .form-submit {
          padding: 0.5rem;
          margin: 0.4rem 0 0.4rem 0.4rem;
          background-color: $gray;
          border-radius: 5px;
          outline: none;
          border: none;
          color: $white;
          cursor: pointer;
          transition: background-color 300ms ease, color 300ms ease;

          &:hover {
            background-color: $white;
            color: $gray;
          }
        }
      }
    }
  }
}

// Styles applied to to-top Button

i {
  color: $gray;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}
